name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v3
      with:
        node-version: '20.x'

    - name: Installing dependencies
      run: npm ci

    - name: Check code style
      run: npm run check

    - name: Build
      run: npm run compile

    - name: Running tests
      run: npm run test
